{% extends 'musicbeats/basic.htm' %}
{% block title %}SignUp{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-start align-items-center" style="height: 91.8vh;">
        <div class="col-md-6" style="overflow: hidden">
            <img src="/static/musicbeats/indigo.jpg" class="img-fluid w-100" style="height:800px" alt="Signup Image"> <!-- Added "w-100" class to make the image width 100% -->
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div class="container my-4">
                <form method="POST" action="/musicbeats/signup">
                    {% csrf_token %}
                    <div class="card p-4 mb-4" style="background-color: #E6D9BF; border-color: #D6C3A0;"> <!-- Set background color slightly darker than the beige background -->
                        <h5 class="card-title">Sign Up for Your Account</h5>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Username</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="username">
                        </div>
                    
                        <div class="form-group">
                            <label for="exampleFormControlInput1">First Name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="firstname">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Last Name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="lastname">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Password</label>
                            <input type="password" class="form-control" id="exampleFormControlInput1" name="pass1">
                        </div>
                    
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Password (again)</label>
                            <input type="password" class="form-control" id="exampleFormControlInput1" name="pass2">
                        </div>
                        <div style="padding-top: 2%;">
                            <button type="submit" class="btn btn-dark">SignUp</button> <!-- Changed button color to dark -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
